/* ------- reset ------- */

html, body, div, span, object, h1, h2, h3, h4, h5, h6,
blockquote, pre, a, address, code, img, small, strong,
dl, dt, dd, ol, ul, li, form, label
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body{
	line-height: 1.5;
	font-family: arial, helvetica, sans-serif;
	
}

ol,li,ul{
	list-style: none;
}
a{
text-decoration: none;
color:black;
}

/* ------- end reset ------- */

.box{
	width:100%;
	height:47%;
	margin-bottom:10px;
}
#top{
	/*background-color:red;*/
}

#top_left{
	background-color:#04DBCF;
}

#top_right{
	background-color:#06CDF3;
}

#bottom_left{
	background-color:#48CF6E;
}

#bottom_right{
	background-color:#24C444;
}

#bottom{
	/*background-color:blue;*/
}

.left{
	width:49.5%;
	height:100%;
	/*background-color:blue;*/
	float:left;
	margin:0 0 0 0;
}

.right{
	width:49.5%;
	height:100%;
	background-color:red;
	float:right;
	margin:0 0 0 0;
}

h3{
	text-align:center;
	margin:15px 0 0 0;
	color:white;
}

input[type="text"],
input[type="password"],
input[type="date"],
select{
	width:130px;
	height:30px;
	/*color:white;*/
	margin:0 0 0 13px;
	/*background-color:#05C4B9;*/
	border:none;
	/*border-radius:5px;*/
	box-shadow:inset 2px 3px 10px -5px #050505;
	padding:0 0 0 4px;
}

.left_form{
	float:left;
}

.right_form{
	float:right;
}

form{
	margin:13px 16px 0 12px;
}
table tr td{
	color:#313131;
	font-size:12px;
	padding-top:9px;
}

label{
	font-weight:bold;
	font-size:12px;
}

#button_cont{
	margin:0 0 0 0;
}

input[type='submit'],
input[type='button']{
	float:right;
	width:100px;
	height:32px;
	border:none;
	background-color:white;
}

.left input[type='submit'],
.left input[type='button']{
	margin:48px 0 0 13px;
}

.right input[type='submit'],
.right input[type='button']{
	margin:8px 0 0 7px;
	width:78px;
	height:21px;
	font-size:10px;
}

textarea{
	height:128px;
	width:203px;
}

fieldset{
	margin:10px 0 0 0;
}

.right input[type='text'],
.right input[type='date'],
.right select{
	width:116px;
	height:23px;
	margin:0 0 0 0;
}

#thead{
	margin:0 0 0 36px;
	width:432px;
}

#thead tr td{
	color:white;
	font-size:14px;
}

.right table{
	width:100%;
}

#pemasukan td,#thead td{
	width:52px;
	text-align:center;
}

#pemasukan{
	width:449px;
	height:245px;
	clear:both;
	margin:0 0 0 36px;
	overflow-y:scroll;
	overflow-x:hidden;
}

input[type='date']{
	
}

.add_filter{
	width:380px;
	height:329px;
	background-color:#727070;
	position:absolute;
	display:none;
	overflow-y: scroll;
	margin-left: 75px;
	border-radius:10px;
}

.bottom_cont{
	margin:0 9px 0 0;
}

.add_filter label{
	color:white;
}

.close_filter{
	margin: 0 4px 0 0;
	float: right;
	color: white;
	cursor:pointer;
}

.remove_filter{
	color:white;
}

#edit_filter{
	margin-left: 410px;
	position: absolute;
}
